<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <dubbo:application name="jj-es"/>
    <dubbo:registry address="zookeeper://10.128.3.233:2181"/>
    <dubbo:protocol name="dubbo" port="20879"/>
    <bean id="esService" class="buaa.jj.es.ESServiceImpl"/>
    <dubbo:service interface="buaa.jj.api.ESService" ref="esService"/>
    
    <dubbo:reference interface="com.ManageServices.service_interface.PaperService" id="paperService" >
        <dubbo:method name="insertPaperByBatch" async="true"/>
    </dubbo:reference>

    <bean id="client" class="org.elasticsearch.client.RestHighLevelClient">
        <constructor-arg ref="builder"/>
    </bean>

    <bean id="builder" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.elasticsearch.client.RestClient"/>
        <property name="targetMethod" value="builder"/>
        <property name="arguments" ref="host"/>
    </bean>

    <bean id="host" class="org.apache.http.HttpHost">
        <constructor-arg value="10.128.3.233"/>
        <constructor-arg value="9200"/>
        <constructor-arg value="http"/>
    </bean>

    <context:component-scan base-package="buaa.jj.es"/>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean id="convert" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json; charset=UTF-8</value>
                        <value>application/x-www-form-urlencoded; charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>